<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.fh.shop.backend.mapper.dept.IDeptMapper">


    	<!-- 添加 -->
    <insert id = "addDept" parameterType = "deptInfo">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
    	insert into t_dept (pId,name,remark) values

    	(#{pId},#{name},#{remark})

    </insert>

    	<!-- 总条数 -->
   <!-- <select id = "queryCount" parameterType = "brand" resultType = "Long">

    	select count(*) from t_brand <include refid="brandWhere"></include>

    </select>-->

    	<!-- 当前页信息 -->
    <select id = "findDept" parameterType = "deptInfo" >

    /*	select t.* from

    	(*/
		select id,deptName,pId,remark from t_brand  order by id desc t
    	<if test="sortField!=null and sortField!=''">
    	  order by ${sortField} ${sort}
    	</if>
    	<if test="sortField==null and sortField==''">
    	 order by id desc
    	</if>
    	/*limit #{startPos},#{pageSize}*/

    </select>

	<select id="findDeptList" parameterType="deptInfo" resultType="deptInfo">
		select id,name,pId,remark from t_dept
	</select>
    	<!-- 回显 -->
   <select id = "findDeptById" parameterType = "int" resultType="deptInfo">

    	select id,name,remark from t_dept where id = #{value}

    </select>

    	<!-- 修改 -->
  <update id = "updateDept" parameterType = "deptInfo" >

    	update t_dept set name  = #{name}, remark = #{remark} where id = #{pId}

    </update>

    	<!-- 单挑删除 -->
   <delete id = "deleteDept" >


    	delete from t_dept where id in

    	<foreach collection="list" separator="," item="id" open="(" close=")">#{id}</foreach>


    </delete>

  	<!--批量删除 -->
  <!--	<delete id = "deleteBechBrand" parameterType = "list">

  		delete from t_brand where id in

  		<foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>

  	</delete>-->






    </mapper>